src/flows/Price_Changing_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Price</name>
        <label>Assign Price</label>
        <locationX>398</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>currentProduct.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_new_price_for_selected_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Price</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Products_List</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Shop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Price Changing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Changing Flow</label>
    <loops>
        <name>Loop_Selected_Products</name>
        <label>Loop Selected Products</label>
        <locationX>400</locationX>
        <locationY>364</locationY>
        <assignNextValueToReference>currentProduct</assignNextValueToReference>
        <collectionReference>SelectedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Price</name>
        <label>Update Price</label>
        <locationX>646</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Loop_Selected_Products</targetReference>
        </connector>
        <inputReference>currentProduct</inputReference>
    </recordUpdates>
    <screens>
        <name>Done</name>
        <label>Done!</label>
        <locationX>194</locationX>
        <locationY>587</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_of_Products</name>
        <label>List of Products</label>
        <locationX>162</locationX>
        <locationY>128</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Setting_new_price</targetReference>
        </connector>
        <fields>
            <name>Get_Products</name>
            <choiceReferences>Products_List</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setting_new_price</name>
        <label>Setting new price</label>
        <locationX>269</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Set_new_price_for_selected_Products</name>
            <dataType>Currency</dataType>
            <fieldText>Set new price for selected Products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Set value between 10 and 1000!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Set_new_price_for_selected_Products} &gt; 10 &amp;&amp; {!Set_new_price_for_selected_Products} &lt; 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>List_of_Products</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
